* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #0a0a22;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;

}

#container {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 100vh;
}

img {
   width: 17rem;
}

h1 {
   font-size: 2.4rem;
   padding: 2rem 0;
}

#palindrome-check {
   background-color: #ffffff;
   color: #3b1c19;
   border-radius: 1rem;
   padding: 1.5rem 3rem;
   margin: 0.5rem 0 1rem 0;
   box-shadow: 0 0.5rem 0.4rem #022a9b;
}

#palindrome-check #instruction {
   color: #151528;
   padding-bottom: 1.2rem;
   font-size: 1.05rem;
}

#text-input {
   font-size: 1.2rem;
   text-align: center;
   padding: 0.4rem;
   border: none;
   border-bottom: 2.5px solid #5a01a7;
}

#check-btn {
   background-color: #5a01a7;
   color: #ffffff;
   padding: 0.6rem 1.8rem;
   border-radius: 0.9rem;
   border: none;
}

#result {
   display: none;
   padding: 1.2rem 0 0 0;
   font-size: 1.4rem;
}

#tip {
   background-color: #00471b;
   color: white;
   border-radius: 1rem;
   padding: 1rem;
   margin-top: 1.5rem;
}

#tip i {
   font-size: 1.5rem;
}

#tip p {
   font-size: 1.3rem;
   width: 26rem;
}